body{
    background-color: #000;
}
.container
{
    background-color: grey;
    width:50vm;
    height:50vh;
    padding: 0.5em;
    margin: 25vh auto 0;
    display: flex;
    flex-flow: row wrap;

}
.item
{
    background-color: white;
    margin: 0.5em;
}